.App {
  text-align: center;
}

body {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 0;
  max-width: 500px;
  height: 100vh;
  background-color: #fff;
}
/*  font ROBOTO 300;500;400;700  */
@font-face {
  font-family: "Roboto-Black";
  src: url("./issets/fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./issets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./issets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./issets/fonts/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("./issets/fonts/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./issets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./issets/fonts/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./issets/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./issets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./issets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./issets/fonts/Roboto-Thin.ttf") format("truetype");
}
/* Chỉnh css icon */
.-margin-left-1 {
  margin-left: -1px;
}
/* Trang chủ */
.timekeeping_content {
  height: calc(100vh - 13.2rem);
  overflow: auto;
}
/* Trang đăng ký lịch làm part-time */
.content_dangkylichlam {
  height: calc(100vh - 24rem);
  overflow: auto;
}
.content {
  height: calc(100vh - 16rem);
  overflow: auto;
}
/* Animation */
@keyframes leftIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightIn {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
.animation_leftIn {
  animation: leftIn 0.5s forwards;
}
.animation_rightIn {
  animation: rightIn 0.5s forwards;
}
